<div class="page-width genesis-content-wrapper" style="overflow-x: hidden;">
  <main class="content" id="genesis-content">
    <article class="post-57 page type-page status-publish entry">
      <div class="entry-content wwof-ui">

        <div id="media-content-block_329097d25f197c74fb7b763d828fbad4" class="media-content alignfull no-bottom-content hjs-section no-title has-bg dark" style="background: rgba(219,248,230,1)">
          <div class="wrap">
            <div class="blocks">
              <div id="media-content-block_329097d25f197c74fb7b763d828fbad4-row1" class="media-content-wrap right fifty video">
                <div class="media-wrap" data-aos="fade-left">
                  <div class="embed-container">
                    <iframe frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay;" src="https://www.youtube.com/embed/U_MK_PQkT0M?autoplay=1&amp;mute=1&amp;playsinline=1&amp;loop=1&amp;rel=0&amp;controls=0&amp;playlist=U_MK_PQkT0M&amp;vf=1" title="youtube"></iframe>
                  </div>
                </div>
                <div class="content-wrap" data-aos="fade-right">
                  <h1>How SmartMouth™ Works</h1>
                  <p>SmartMouth™’s patented formula combines a sulfur eliminating liquid with a zinc ion activating liquid that are kept separate until you pour. SmartMouth™’s activated rinses eliminate bad breath instantly and prevent sulfur gas from returning for 24 hours with just two rinses a day.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="hjs-columns-block_79eb0df75789814a58f18cac902260b4" class="hjs-columns alignfull no-bottom-content hjs-section has-title no-bg dark">
          <div class="wrap">
            <div class="title-wrap">
              <h2 class="section-title">All day bad breath prevention with Smart-Zinc™ Technology</h2>
              <div class="section-description">
                <p><img loading="lazy" class="alignnone size-full" title="How it works v1 1" src="https://www.smartmouth.com/wp-content/uploads/2025/07/How-it-works-v1-1-scaled.jpg" alt="How it works v1 1" width="2048" height="839"></p>
              </div>
            </div>
            <div class="columns-wrap">
              <div class="one-half first">
                <div class="column center has-description " data-aos="fade-up" data-aos-delay="200">
                  <div class="column-media">
                    <img loading="lazy" width="300" height="117" src="https://www.smartmouth.com/wp-content/uploads/2018/07/germs-protein-e1743492343110.png" class="img-mobile" alt="germs-protein">                                      
                  </div>
                  <div class="column-content">
                    <h3 class="column-title">Germs + Protein in Our Saliva = Sulfur Gas, AKA The Real Cause of Bad Breath</h3>
                    <div class="column-description">
                      <p>When poured in the cup, SmartMouth™’s two liquids — the Sulfur Eliminating Solution, which destroys sulfur gases, and the zinc ion Activating Solution, activate to release billions of zinc ions.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="one-half">
                <div class="column center has-description " data-aos="fade-up" data-aos-delay="400">
                  <div class="column-media">
                    <img loading="lazy" width="300" height="117" src="https://www.smartmouth.com/wp-content/uploads/2018/07/germs-zinc.png" class="img-mobile" alt="germs-zinc">                                      
                  </div>
                  <div class="column-content">
                    <h3 class="column-title">Germs + SmartMouth™ Activated Zinc Ion Solution = No More Bad Breath</h3>
                    <div class="column-description">
                      <p>It’s this zinc ion activation technology that blocks germs from consuming protein particles inside your mouth. This is the key to preventing sulfur gas production and the secret to all day bad breath prevention.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="hjs-columns-block_719f289664de93525a2d78acffd78748" class="hjs-columns alignfull no-bottom-content hjs-section no-padding-top no-title no-bg dark">
          <div class="wrap" style="max-width: 1000px; margin: 0 auto;">
            <div class="columns-wrap">
              <div class="single-column">
                <div class="column left no-description " data-aos="fade-up" data-aos-delay="200">
                  <div class="column-media">
                    <div class="embed-container">
                      <iframe src="https://www.youtube.com/embed/lBex50BHOSY?autoplay=0&amp;rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="1" title="youtube"></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="hjs-columns-block_c2a7e6f819a8fb510acb9a80a50d6ff4" class="hjs-columns alignfull no-bottom-content hjs-section no-title has-bg light" style="background: linear-gradient(135deg, rgba(0,115,200,1) 0%, rgba(1,76,131,1) 100%); background-size: cover; background-repeat: no-repeat; background-blend-mode: multiply; background-position: center center;">
          <div class="wrap">
            <div class="columns-wrap">
              <div class="one-third first">
                <div class="column center has-description icon" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-wrap">
                    <img loading="lazy" width="151" height="151" src="https://www.smartmouth.com/wp-content/uploads/2018/07/Dual-Chamber-Bottle.png" alt="Dual Chamber Bottle">                            
                  </div>
                  <div class="column-content">
                    <h3 class="column-title" style="color: #fff;">Dual Chamber Bottle</h3>
                    <div class="column-description" style="color: #fff;">
                      <p>The original SmartMouth™ dual chamber bottle is scientifically designed to harness the power of both bad breath fighting solutions, leaving the power of zinc ion activation in your hands every time you pour.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="one-third">
                <div class="column center has-description icon" data-aos="fade-up" data-aos-delay="400">
                  <div class="icon-wrap">
                    <img loading="lazy" width="151" height="151" src="https://www.smartmouth.com/wp-content/uploads/2018/07/Zinc-Rich-Activator.png" alt="Zinc Rich Activator">                            
                  </div>
                  <div class="column-content">
                    <h3 class="column-title" style="color: #fff;">Zinc Rich Activator</h3>
                    <div class="column-description" style="color: #fff;">
                      <p>The Zinc Rich Solution activates when you pour, releasing billions of zinc ions that bond to the germs in your mouth, preventing bad breath for 12 hours with every rinse.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="one-third">
                <div class="column center has-description icon" data-aos="fade-up" data-aos-delay="600">
                  <div class="icon-wrap">
                    <img loading="lazy" width="151" height="151" src="https://www.smartmouth.com/wp-content/uploads/2018/07/Sulfur-Eliminator.png" alt="Sulfur Eliminator">                            
                  </div>
                  <div class="column-content">
                    <h3 class="column-title" style="color: #fff;">Sulfur Eliminator</h3>
                    <div class="column-description" style="color: #fff;">
                      <p>The Sulfur Eliminating Solution destroys any existing bad breath gases in your mouth.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="one-third first">
                <div class="column center has-description icon" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-wrap">
                    <img loading="lazy" width="151" height="151" src="https://www.smartmouth.com/wp-content/uploads/2018/07/Safe-for-Kids-Diabetics.png" alt="Safe for Kids-Diabetics">                            
                  </div>
                  <div class="column-content">
                    <h3 class="column-title" style="color: #fff;">Safe for People with Diabetes and Kids</h3>
                    <div class="column-description" style="color: #fff;">
                      <p>100% paraben-free zinc ion oral rinse.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="one-third">
                <div class="column center has-description icon" data-aos="fade-up" data-aos-delay="400">
                  <div class="icon-wrap">
                    <img loading="lazy" width="151" height="151" src="https://www.smartmouth.com/wp-content/uploads/2018/07/Clinical-Strength.png" alt="Clinical Strength">                            
                  </div>
                  <div class="column-content">
                    <h3 class="column-title" style="color: #fff;">Clinical Strength</h3>
                    <div class="column-description" style="color: #fff;">
                      <p>An alcohol-free, anti-plaque and anti-gingivitis solution.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="one-third">
                <div class="column center has-description icon" data-aos="fade-up" data-aos-delay="600">
                  <div class="icon-wrap">
                    <img loading="lazy" width="151" height="151" src="https://www.smartmouth.com/wp-content/uploads/2018/07/Powerful-Feel-Taste.png" alt="Powerful Feel-Taste">                            
                  </div>
                  <div class="column-content">
                    <h3 class="column-title" style="color: #fff;">Powerful Feel and Great Taste</h3>
                    <div class="column-description" style="color: #fff;">
                      <p>It’s a new kind of feel, a smart kind of clean.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="media-content-block_5a09b12e8dee41eaaea8fc09c1ca5637" class="media-content alignfull no-bottom-content hjs-section has-title no-bg dark">
          <div class="wrap">
            <div class="title-wrap">
              <h2 class="section-title">What’s Your Reason to Pour?</h2>
              <div class="section-description">
                <p>Many factors contribute to bad breath, but SmartMouth™’s zinc ion technology provides THE solution to stop bad breath at the source and prevent it from coming back for 24 hours. Learn how below!</p>
              </div>
            </div>
            <div class="blocks">
              <div id="media-content-block_5a09b12e8dee41eaaea8fc09c1ca5637-row1" class="media-content-wrap left fifty image">
                <div class="media-wrap" data-aos="fade-right">
                  <img loading="lazy" width="711" height="712" src="https://www.smartmouth.com/wp-content/uploads/2025/04/causes.jpg" alt="causes">
                </div>
                <div class="content-wrap" data-aos="fade-left">
                  <h2>Causes of Bad Breath</h2>
                  <p>Everyone experiences bad breath because it’s a naturally occurring process. Our mouths can contain billions of germs, and these bacteria break down protein particles in our saliva or near our gum line. When they do, they produce foul-smelling sulfur gas, otherwise known as bad breath.</p>
                </div>
              </div>

              <div id="media-content-block_5a09b12e8dee41eaaea8fc09c1ca5637-row2" class="media-content-wrap right fifty image">
                <div class="media-wrap" data-aos="fade-left">
                  <img loading="lazy" width="1030" height="852" src="https://www.smartmouth.com/wp-content/uploads/2018/10/ZincTech-1030x852.jpg" alt="ZincTech">
                </div>
                <div class="content-wrap" data-aos="fade-right">
                  <h2>You Activate the Zinc Ions</h2>
                  <p>When the two solutions come together, a chemical reaction occurs that instantly releases billions of zinc ions.</p>
                  <p>When you first pour the rinse, you’ll notice it’s green. That means the solution is freshly activated and the zinc ions are ready to bind to germs.</p>
                  <p>But, if you wait 5 minutes after pouring, you’ll notice the poured mouthwash turns blue. That means the zinc ions are no longer as effective at preventing bad breath.</p>
                  <p>So remember, always use SmartMouth™ immediately after pouring!</p>
                </div>
              </div>

              <div id="media-content-block_5a09b12e8dee41eaaea8fc09c1ca5637-row3" class="media-content-wrap left fifty image">
                <div class="media-wrap" data-aos="fade-right">
                  <img loading="lazy" width="1030" height="852" src="https://www.smartmouth.com/wp-content/uploads/2018/07/24Hours-1030x852.jpg" alt="24 Hour Mouthwash">
                </div>
                <div class="content-wrap" data-aos="fade-left">
                  <h2>Two Rinses a Day Keeps Bad Breath Away</h2>
                  <p>SmartMouth™ Mouthwash doesn’t mask bad breath. It stops it at the source.</p>
                  <p>Preventative care is the key to overcoming the problem of bad breath, and SmartMouth™ is the way to achieve real, lasting results.</p>
                  <p>Just two rinses a day will put your worries about embarrassing bad breath to rest and allow you to feel confident about getting up close.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="product-cards-block_002ec5097b9ec35d5c31968298d2dfa5" class="product-cards alignfull no-bottom-content hjs-section has-title has-bg dark" style="background: rgba(219,248,230,1)">
          <div class="wrap">
            <div class="title-wrap">
              <h2 class="section-title">Our Best-Selling Products</h2>
            </div>

            <div class="product-cards-wrap">
              {% for product in collections.all.products limit: 6 %}
                <div class="card product" style="padding: 15px; margin: 10px;">
                  <div class="column-media" style="text-align: center;">
                    <a href="{{ product.url }}">
                      <img src="{{ product.featured_image | img_url: '400x' }}" alt="{{ product.title | escape }}" style="max-height: 250px; margin: 0 auto; object-fit: contain;">
                    </a>
                  </div>
                  <div class="column-content">
                    <h3><a href="{{ product.url }}" style="color: #000; text-decoration: none;">{{ product.title }}</a></h3>
                    <span class="price">
                      {% if product.compare_at_price > product.price %}
                        <del>{{ product.compare_at_price | money }}</del>
                      {% endif %}
                      <ins>{{ product.price | money }}</ins>
                    </span>
                  </div>
                </div>
              {% else %}
                <p style="text-align:center; width:100%;">No products found. Please add products to your store.</p>
              {% endfor %}
            </div>

          </div>
        </div>

        <div id="testimonial-cards-block_16dfd9efc5f5d6d618f6c004d898bbcd" class="testimonial-cards alignfull no-bottom-content hjs-section has-title has-bg dark" style="background: rgba(250,250,250,1)">
          <div class="wrap">
            <div class="title-wrap">
              <h2 class="section-title">What People Are Saying About SmartMouth™</h2>
            </div>
            <div class="testimonials-wrap">
              <div class="one-half first">
                <div class="testimonial-wrap">
                  <div class="testimonial card">
                    <span class="star-rating">★★★★★</span>
                    <span class="quote-icon">❝</span>
                    <blockquote><p>Once you try you won’t deny. Love this stuff. Worth the price tag. Unlike any mouthwash I’ve ever tried!</p></blockquote>
                    <span class="triangle"></span>
                  </div>
                  <cite class="author">Ana</cite>
                </div>
                <div class="testimonial-wrap">
                  <div class="testimonial card">
                    <span class="star-rating">★★★★★</span>
                    <span class="quote-icon">❝</span>
                    <blockquote><p>This is the best mouthwash on the market. No aftertaste and you have fresh breath all day.</p></blockquote>
                    <span class="triangle"></span>
                  </div>
                  <cite class="author">Ozzy</cite>
                </div>
              </div>
              <div class="one-half">
                <div class="testimonial-wrap">
                  <div class="testimonial card">
                    <span class="star-rating">★★★★★</span>
                    <span class="quote-icon">❝</span>
                    <blockquote><p>Love it! No more dragon breath in the morning.</p></blockquote>
                    <span class="triangle"></span>
                  </div>
                  <cite class="author">Maribel</cite>
                </div>
                <div class="testimonial-wrap">
                  <div class="testimonial card">
                    <span class="star-rating">★★★★★</span>
                    <span class="quote-icon">❝</span>
                    <blockquote><p>Daily use has totally ended my bleeding gums problem. My dentist was so impressed he ordered it for his office.</p></blockquote>
                    <span class="triangle"></span>
                  </div>
                  <cite class="author">BJ</cite>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="faqs-section" class="accordion-faqs alignfull no-bottom-content hjs-section has-title no-bg dark last-hjs-section">
          <div class="wrap">
            <div class="title-wrap">
              <h2 class="section-title">Frequently Asked Bad Breath and Product Questions</h2>
              <div class="section-description">
                <p>Use our FAQs below to learn about bad breath, oral health, our zinc ion technology, and which SmartMouth™ product is right for you. Don’t see the answer to your question? Reach out to us directly through our Contact Us page.</p>
              </div>
            </div>
            <div class="faq-form-wrap single-column">
              <div class="faq-columns-wrap">
                <div class="first-column">
                  
                  <div class="tab">
                    <input id="faqs-sectiontab-1" type="checkbox" name="tabs">
                    <label for="faqs-sectiontab-1">Which SmartMouth™ rinse is right for me? <span style="float:right;">+</span></label>
                    <div class="tab-content">
                      <div>
                        <figure class="wp-block-image size-full"><img loading="lazy" width="1121" height="2048" src="https://www.smartmouth.com/wp-content/uploads/2025/07/Rinse-Comparison-Chart-7.1.2025-scaled.jpg" alt="Rinse Comparison Chart 7.1.2025"></figure>
                      </div>
                    </div>
                  </div>

                  <div class="tab">
                    <input id="faqs-sectiontab-2" type="checkbox" name="tabs">
                    <label for="faqs-sectiontab-2">Why does SmartMouth™ use 2 solutions? <span style="float:right;">+</span></label>
                    <div class="tab-content">
                      <div>
                        <p>SmartMouth™ Mouthwash uses a patented, dual-solution technology that requires 2 key solutions to be kept separate until just prior to rinsing. This ensures that SmartMouth™ is freshly activated with each use to provide unmatched, all day fresh breath.</p>
                      </div>
                    </div>
                  </div>

                  <div class="tab">
                    <input id="faqs-sectiontab-3" type="checkbox" name="tabs">
                    <label for="faqs-sectiontab-3">Can I travel with SmartMouth™? <span style="float:right;">+</span></label>
                    <div class="tab-content">
                      <div>
                        <p>With the FAA liquid carry-on limitations, don’t forget to pack the new SmartMouth™ Single Use Packs. These individual-use mouthwash packets fall well under the FAA liquid carry-on limit and fit easily into your purse, briefcase, or carry-on for fresh breath anytime, anywhere.</p>
                        <p>You can also pack an unopened package of SmartMouth™ Mouthwash into your checked baggage. Please note that you should not travel with previously opened mouthwash bottles.</p>
                      </div>
                    </div>
                  </div>

                </div>
                
                <div class="second-column" style="margin-left: 3%;">

                  <div class="tab">
                    <input id="faqs-sectiontab-4" type="checkbox" name="tabs">
                    <label for="faqs-sectiontab-4">Is SmartMouth™ alcohol free? <span style="float:right;">+</span></label>
                    <div class="tab-content">
                      <div>
                        <p>SmartMouth™ Mouthwash is 100% alcohol free. Alcohol is a drying agent, and a dry mouth can cause or worsen bad breath. In fact, there are many challenges to alcohol containing mouthwashes.</p>
                      </div>
                    </div>
                  </div>

                  <div class="tab">
                    <input id="faqs-sectiontab-5" type="checkbox" name="tabs">
                    <label for="faqs-sectiontab-5">Does SmartMouth™ have fluoride? <span style="float:right;">+</span></label>
                    <div class="tab-content">
                      <div>
                        <p>All SmartMouth™ oral rinses are fluoride free.</p>
                      </div>
                    </div>
                  </div>

                  <div class="tab">
                    <input id="faqs-sectiontab-6" type="checkbox" name="tabs">
                    <label for="faqs-sectiontab-6">Is SmartMouth™ safe for kids? <span style="float:right;">+</span></label>
                    <div class="tab-content">
                      <div>
                        <p>Yes! SmartMouth™ is safe and recommended for children 6 years and older. All the ingredients used in SmartMouth™ products have been established by the FDA as “GRAS” (Generally Recognized As Safe) and considered safe for use in non-prescription, over-the-counter, oral care products.</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </article>
  </main>
</div>

<style>
  .media-content-full-width.hjs-section.no-title { padding-top: 0!important; }
  .media-content-full-width.hjs-section.no-bottom-content { padding-bottom: 0!important; }
  .media-content-full-width .wrap { max-width: 100%; padding: 0; }
  .media-content-full-width .title-wrap { max-width: 1350px; margin: 0 auto; }
  .media-content-full-width .section-bottom-content { max-width: 1350px; margin: 50px auto 0; }
  .media-content.has-title .blocks { margin-top: 40px; }
  .media-content .media-content-wrap { display: flex; align-items: center; justify-content: center; margin-top: 40px; }
  .media-content .media-content-wrap.top-align { align-items: flex-start; }
  .media-content .media-content-wrap:first-of-type { margin-top: 0; }
  .media-content.media-content-full-width .media-content-wrap { align-items: normal; margin-top: 0; }
  .media-content .media-content-wrap.right { flex-direction: row-reverse; }
  .media-content .media-wrap { width: 33.33%; }
  .media-content .media-wrap .caption { margin: 15px auto; padding: 0 20px; line-height: 1.4; text-align: center; }
  .media-content .fifty .media-wrap { width: 50%; }
  .media-content .sixty .media-wrap { width: 66.667%; }
  .media-content .twenty-five .media-wrap { width: 25%; }
  .media-content-full-width .media-wrap { min-height: 300px; display: flex; align-items: center; }
  .media-content-full-width .media-wrap .bg-img,
  .media-content-full-width .media-wrap iframe { height: 100%; width: 100%; min-height: inherit; }
  .media-content .media-wrap .embed-container { margin-bottom: 0; width: 100%; }
  .media-content .media-wrap img { display: block; margin: 0 auto; max-width: 100%; height: auto; }
  .media-content .content-wrap { width: 66.667%; padding-left: 4%; }
  .media-content .fifty .content-wrap { width: 50%; }
  .media-content .sixty .content-wrap { width: 33.33%; }
  .media-content .twenty-five .content-wrap { width: 75%; }
  .media-content-full-width .content-wrap,
  .media-content.media-content-full-width .media-content-wrap.right .content-wrap { padding: 70px 4%; }
  .media-content .media-content-wrap.right .content-wrap { padding-left: 0; padding-right: 4%; }

  .hjs-columns .column.inline { display: flex; align-items: flex-start; justify-content: flex-start; flex-direction: row; }
  .hjs-columns .column.inline .icon-wrap { margin: 5px 20px 0 0; min-width: 60px; min-height: unset; height: auto; flex: 0 1 100px; max-width: 100px; }
  .hjs-columns .column.inline .icon-wrap img { max-width: 100%; }
  .hjs-columns .column.inline .column-content { text-align: left; height: 100%; padding: 0; flex-basis: 70%; }
  
  .product-cards.has-title .product-cards-wrap { margin-top: 40px; }
  .product-cards .product-cards-wrap a { text-decoration: none; }
  .product-cards .card .column-content h3 { text-align: center; margin-bottom: 10px; font-size: 24px; font-size: 2.4rem; font-weight: 700; }
  .product-cards .product-cards-wrap .price { color: #000; text-align: center; display: block; font-weight: 500; font-size: 18px; font-size: 1.8rem; }
  .product-cards .product-cards-wrap .price del { opacity: 0.7; display: inline-block; margin-right: 5px; }

  .testimonial-cards .testimonials-wrap { display: flex; flex-wrap: wrap; }
  .testimonial-cards .testimonials-wrap > div { width: 50%; padding: 15px; box-sizing: border-box; }
  .testimonial-cards .testimonials-wrap .testimonial-wrap { margin-bottom: 40px; text-align: center; }
  .testimonial-cards .testimonial-wrap .testimonial { position: relative; padding: 35px; background: #fff; color: #000; }
  .testimonial-cards .testimonial-wrap blockquote { font-size: 16px; font-size: 1.6rem; line-height: 1.75; border: 0; padding: 0; margin: 0; font-style: normal; }
  .testimonial-cards .testimonial-wrap .testimonial .triangle { content: ""; position: absolute; width: 0; height: 0; margin-left: -0.9em; bottom: -20px; left: 50%; box-sizing: border-box; border: 10px solid black; border-color: transparent transparent #fff #fff; transform-origin: 0 0; transform: rotate(-45deg); box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.1); }
  .testimonial-cards .quote-icon { display: block; font-size: 30px; font-size: 3rem; line-height: 1; margin: 20px auto 5px; }
  .testimonial-cards .star-rating { display: block; margin: 20px 0 0; color: #f7941d; font-size: 20px; font-size: 2rem;}
  .testimonial-cards .testimonial-wrap .author { display: block; font-size: 16px; font-size: 1.6rem; margin: 45px 0 2px; font-weight: 700; letter-spacing: 0.9px; line-height: 1.2; font-style: normal; }

  .accordion-faqs .faq-columns-wrap { display: flex; flex-wrap: wrap; justify-content: space-between; }
  .accordion-faqs .faq-columns-wrap .first-column, .accordion-faqs .faq-columns-wrap .second-column { width: 48.5%; flex-grow: 1; }
  .accordion-faqs .faq-columns-wrap .tab { position: relative; width: 100%; overflow: hidden; border: 1px solid #dbdbdb; background: #f0f0f0; }
  .accordion-faqs .faq-columns-wrap input { position: absolute; opacity: 0; z-index: -1; }
  .accordion-faqs .faq-columns-wrap label { position: relative; display: block; padding: 18px 50px 18px 30px; line-height: 1.5; cursor: pointer; color: #212121; font-size: 20px; font-weight: 600; }
  .accordion-faqs .faq-columns-wrap .tab-content { max-height: 0; overflow: hidden; background: #fff; color: #4a4a4a; border-bottom: 1px solid #d4d4d4; transition: max-height 0.3s ease; }
  .accordion-faqs .faq-columns-wrap input:checked ~ .tab-content { max-height: 2000px; padding: 40px 30px; border-top: 1px solid #f0f0f0; }

  @media only screen and (max-width: 1023px) {
    .media-content .media-content-wrap { flex-wrap: wrap; flex-direction: column-reverse; row-gap: 40px; }
    .media-content .media-wrap, .media-content .fifty .media-wrap, .media-content .content-wrap, .media-content .fifty .content-wrap { width: 100%; text-align: center; padding: 0; }
    .testimonial-cards .testimonials-wrap > div { width: 100%; }
    .accordion-faqs .faq-columns-wrap .first-column, .accordion-faqs .faq-columns-wrap .second-column { width: 100%; margin: 0; }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    if (typeof jQuery !== 'undefined' && jQuery.fn.slick) {
      jQuery('.product-cards-wrap').not('.slick-initialized').slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        dots: false,
        arrows: true,
        responsive: [
          { breakpoint: 1130, settings: { slidesToShow: 2, slidesToScroll: 1, infinite: true } },
          { breakpoint: 749, settings: { slidesToShow: 1, slidesToScroll: 1, dots: true, arrows: false } }
        ]
      });
    } else {
      console.warn('Slick Slider or jQuery is not loaded. The products block will display as a standard grid.');
    }
  });
</script>